h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: lightsalmon;
  border-radius: 15px;
  border-style: solid 2px black;
  padding: 10px;
  width: 250px;
  height: auto;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.fruitsBack {
  background-color: wheat;
}

.userBody {
  background-color: lightgray;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 10px;
}

.formBack {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 5px;
  height: 20px;
  width: 50px;
}
a:active {
  color: red;
  background-color: white;
  text-decoration: none;
  margin: 10px;
}
a:link {
  color: red;
  background-color: white;
  text-decoration: none;
  margin: 10px;
}
a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 10px;
}
a:visited {
  color: red;
  background-color: white;
  text-decoration: none;
  margin: 10px;
}

.fruitIndex {
  background-color: white;
  border: none;
  border-radius: 10px;
}
